html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding-top: 0px;

}

*{
	border: 1px solid red;
}

.container {
	display: flex;
	height: 100%;
	width: 100%;
	margin-bottom: 0px;
	/*background-image: url("http://shutupandtakemethere.com/pics/032014/bull-of-the-woods-wilderness-oregon--big.jpg");*/
	background: #EEEEEE;
}

.section {
	width: 50%;
	height: 100%;
}


/*.tree {
	width: 100%;
	height: 50%;
	margin-top: 100px;
}*/
/*
.logo_left {
	margin-left: 385px;
	height: 90%;
	width: 30%;
}

.logo_right {
	margin-left: 55px;
	height: 90%;
	width: 30%;
}
*/
/*.text {
	width: 50%;
	height: 20%;
}

.left {
	margin-right: 0px;
}

.right {

}

h3 {
	font-family: 'cabin';
	margin-right: 10px;
}
*/


