<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/homestyle.css">
</head>

<body>

	<div class="container">
		<div class="section left">
				<div class="tree_one">
				<img class="left_tree" src="http://www.clker.com/cliparts/a/e/8/3/1197089215348827870Chrisdesign_Tree_silhouettes_6.svg.hi.png"/>
				<h3>Login</h3>
				</div>
		</div>
		<div class="section right">
			<div class="tree_two">
				<img class="right_tree" src="http://www.clker.com/cliparts/a/e/8/3/1197089215348827870Chrisdesign_Tree_silhouettes_6.svg.hi.png"/>
				<h3>Register</h3>
			</div>
		</div>
	</div>





</body>






</html>


