<link rel="stylesheet" type="text/css" href="/css/logStyle.css">

<div class="main_log_container">
	<div class="header_bar">
		<h1>Your Activity Log<h1>
	</div>
		<div class="log_entry">
			<input ng-model="title" placeholder="Activity Name"></input>
			<input ng-model="state" placeholder="State"></input>
			<input ng-model="area" placeholder="Area"></input>
			<input ng-model="activity_type" placeholder="Activity Type">
			<!-- </input> -->
			<input ng-model="notes" placeholder="Notes"></input>
			<button class="btn btn-xs" ng-click="createLog(log)">Save</button>
		</div>
		<div class="left_log_area">
		<div class="log" ng-repeat="log in logs">
			<p><b>Name:</b> {{log.title}}</p>
			<p><b>State:</b> {{log.state}}</p>
			<p><b>Area:</b> {{log.area}}</p>
			<p><b>Type:</b> {{log.activity_type}}</p>
			<p><b>Notes:</b> {{log.notes}}</p>
			<button class="btn btn-xs">Edit</button>
			<button class="btn btn-xs" ng-click="deleteLog()">Delete</button>
		</div>
	</div>
</div>

