<link rel="stylesheet" type="text/css" href="/css/logStyle.css">

<div class="log_container">
<h1>Log<h1>
<div class="log_entry">
<input ng-model="title" placeholder="Activity Name"></input>
<input ng-model="state" placeholder="State"></input>
<input ng-model="area" placeholder="Area"></input>
<input ng-model="activity_type" placeholder="Activity Type"></input>
<input ng-model="notes" placeholder="notes"></input>
<button class="btn btn-xs" ng-click="createLog(log)">Save</button>
</div>

<div class="display_logged">
	<li class="log" ng-repeat="log in logs">
		<ul>{{log.title}}</ul>
		<ul>{{log.state}}</ul>
		<ul>{{log.area}}</ul>
		<ul>{{log.activity_type}}</ul>
		<ul>{{log.notes}}</ul>

</div>

</div>

